GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

GROQ_WRITER_MODEL=llama-3.3-70b-versatile
GROQ_ROUTER_MODEL=llama-3.1-8b-instant
GROQ_RESEARCH_MODEL=llama-3.1-8b-instant
GROQ_PLANNER_MODEL=llama-3.3-70b-versatile
GROQ_EDITOR_MODEL=llama-3.3-70b-versatile
GROQ_REVISION_MODEL=llama-3.3-70b-versatile

TAVILY_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

CLOUDFLARE_ACCOUNT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLOUDFLARE_API_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx